h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  animation: colorchange 10s infinite;
}

@keyframes colorchange {
  0% { color: red; }
  25% { color: orange; }
  50% { color: yellow; }
  75% { color: green; }
  100% { color: blue; }
}
header nav a {
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
  position: relative;
}

header nav a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}

header nav a:hover::before {
  width: 100%;
}
