/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: yellow;
}

nav {
  background-color: blue;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 1rem;
}

nav ul li:last-child {
  margin-right: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
}

nav a:hover {
  background-color: #fff;
  color: #333;
}

section {
  padding: 2rem;
  margin: 2rem 0;
}

h1, h2 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

ul {
  list-style: disc;
  margin-left: 2rem;
}
/* Hero styles */



#hh {
  font-size: 36px;
  margin-bottom: 36;
  justify-items: center;
  color: white;
  background-color: blue;
  padding-bottom: 5px;
}

/* Work styles */

#work {
  padding: 50px;
  
}

#work h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

#work li {
  margin-bottom: 30px;
}

#work h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

#work p {
  margin-bottom: 20px;
}

/* Footer styles */

footer {
  background-color: blue;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
}
